.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: solid 5px plum;
}

.whiteBox {
    height: 80px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueBox {
    height: 80px;
    width: 80px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/sports-fan-set_1284-81110.jpg") ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.p-black{
    border-radius:  50% ;   
    height: 50px;
    width: 50px; 
    background-color: black;
}

.p-white{
    border-radius:  50% ;   
    height: 50px;
    width: 50px;
    background-color: aliceblue; 
}