.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: solid 5px plum;
}

.whiteBox {
    height: 80px;
    width: 80px;
    background-color: white;
}

.blueBox {
    height: 80px;
    width: 80px;
    background-color: blue
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/sports-fan-set_1284-81110.jpg") ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}